@model Phoenix.Models.ViewModels.RciReassignViewModel

@{
    ViewBag.Title = "Reassign Components";
    ViewBag.MenuExists = "T";
    ViewBag.ViewTitle = Model.BuildingCode + Model.RoomNumber + " " + Model.FirstName + " " + Model.LastName;
}

@section Styles{
    @Styles.Render("~/bundles/page_specific/css/rci-component-reassign")
}

<div class="view">
    <div class="pane">
        @using (Html.BeginForm(actionName: "Index", controllerName: "RciComponentReassign", method: FormMethod.Post))
        {
            foreach (var component in Model.RciComponent)
            {
                <div class="divAddOn">
                    <div class="divAddOn-item"><input type="checkbox" name="rciComponent" value="@component.RciComponentID" /></div>
                    <h3 class="divAddOn-field">@component.RciComponentName</h3>
                </div>
            }
            <div class="divAddOn">
                <input class="divAddOn-item" type="submit" value="Assign To" />
                <select class="divAddOn-field" name="assignTo">
                    @foreach (var rci in Model.RciTarget)
                    {
                        <option value="@rci.RciID">@rci.RciOwner</option>
                    }
                </select>
            </div>
        }
    </div>   
</div>