<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online RCI - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("Styles", required: false)
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7763712/7875172/css/fonts.css">
</head>
<body>
    @Scripts.Render("~/bundles/js/jquery")
    <div id="page-container">
        <header id="header">
            <div class="view-title">
                <h2>@ViewBag.ViewTitle</h2>
            </div>
            @if (ViewBag.MenuExists != null)
            {
                <button class="view-drawer">
                    <i class="material-icons">more_vert</i>
                </button>
            }
        </header>
        @RenderSection("Menu", false)
        <div id="content">
            @RenderBody()
        </div>
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year Phoenix</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/js/rci")
    @RenderSection("Scripts", required: false)

</body>
</html>
