<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online RCI - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("Styles", required: false)
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Uncomment this out for Gordon font-->
    @*<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7763712/7875172/css/fonts.css">*@
    <link href="https://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>
</head>
<body>
    @Scripts.Render("~/bundles/js/jquery")
    <div id="page-container">
        <header id="header">
            <div class="logo-box">
               @if (ViewBag.NeedsLogo == true)
                                {
                                    <a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")"><img src="~/Content/Images/gordon-logo-horizontal.svg" /></a>
                }
                else
                {<a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")">
                    <i class="material-icons back-button">keyboard_backspace</i>
                </a>}
            </div>                   
            <div class="view-title">
                <a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")"><h2>Online RCI</h2></a>
</div>
            @if (ViewBag.MenuExists != null)
            {
                <button class="dropdown">
                    <p class="uppercase username">@ViewBag.Name<i class="material-icons down-arrow">keyboard_arrow_down</i></p>
                    <i class="material-icons hamburger">menu</i>    
                </button>
                <ul class="dropdown-menu">
                    @if (ViewBag.Role == "RD" || ViewBag.Role == "ADMIN")
                    {
                        <li class="dropdown-menu-item"><a href="@Url.Action(actionName: "SignAllRD", controllerName: "RciInput")">Batch Sign RCI Checkins</a></li>
                        <li class="dropdown-menu-item"><a href="@Url.Action(actionName: "ExportFines", controllerName: "Dashboard")">Export Fines</a></li>
                    }
                    <li class="dropdown-menu-item">Help</li>
                    <li class="dropdown-menu-item logout-button">Logout</li>
                </ul>
            }
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year Phoenix</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/js/rci")
    @RenderSection("Scripts", required: false)

</body>
</html>
