@model Phoenix.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "RCI-Login";
    ViewBag.ViewTitle = "Online RCI";
    ViewBag.NavigationAction = "";
    ViewBag.NavigationController = "";
    ViewBag.NavigationIcon = "";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/login")
}

<div class="view center-content-col">
    <h2>
        Login
    </h2>
    @using (Html.BeginForm(actionName: "Authenticate", controllerName: "Login", method: FormMethod.Post))
    {
<!-- Anti forgery token to prevent CSRF attacks, since authentication token is stored in a cookie-->
        @Html.AntiForgeryToken()

        <div class="error-msg">@Html.ValueFor(m => m.errorMessage)</div>

        <div class="login-container">
            @Html.TextBoxFor(m => m.username, new { placeholder = "Username" })
            @Html.PasswordFor(m => m.password, new { placeholder = "Password" })
            <button type="submit">Enter</button>
        </div>
        
        
    }
</div>



