@model Phoenix.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "RCI-Login";
    ViewBag.ViewTitle = "Online RCI";
    ViewBag.NavigationAction = "";
    ViewBag.NavigationController = "";
    ViewBag.NavigationIcon = "";
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/login")
}

<div class="view center-content-col">
    @using (Html.BeginForm(actionName: "Authenticate", controllerName: "Login", method: FormMethod.Post))
    {
<!-- Anti forgery token to prevent CSRF attacks, since authentication token is stored in a cookie-->
        @Html.AntiForgeryToken()

        <div class="error-message">
            <p>@Html.ValueFor(m => m.ErrorMessage)</p>
        </div>

        <div class="login-container">
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            <button type="submit">Login</button>
        </div>
        
        
    }
</div>



