@model Phoenix.Models.Rci

@{
    ViewBag.Title = "Check-In Signature";
    ViewBag.ViewTitle = "Checkin: Resident Signature";
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
    ViewBag.User = TempData["user"];
}

@section Scripts{
    @Scripts.Render("~/Scripts/checkin-sig-res.js")
}


<h2 id="rci-@Model.RciID">Signature</h2>

<div class="pane">

    @if (Model.CheckinSigRes == null && Model.LifeAndConductSigRes == null)
    {
        <p>@ViewBag.User, please sign with your name to confirm the entered damages.</p>
        <input type="text" id="rci-sig" placeholder="@ViewBag.User" />

        <div class="life-and-conduct">
            <h4>Residence Hall License and Life and Conduct Agreement</h4>
            <p>THIS IS A LEGAL DOCUMENT AFFECTING YOUR RIGHTS.  PLEASE READ CAREFULLY.</p>
            <p>
                I, the undersigned student, understand and agree that, by signing this license agreement, I am accepting a license,
                granted by Gordon College, to occupy a room within a residence hall for the full duration of current academic year while enrolled
                as a student at Gordon College upon the following terms and conditions.
            </p>
            <ul>
                <li>
                    I acknowledge that I have read and am responsible for the information in the Gordon College Academic Catalog
                    and Student Handbook of current academic year, either in hardcopy or through online access at <a>www.gordon.edu/studenthandbook.</a>
                </li>
                <li>
                    I agree to comply with all terms, conditions, policies and procedures governing and relating to occupancy of College residences
                    which are contained in the aforementioned catalog and handbook including but not limited to provisions for and related to payment
                    of room charges and residence hall fees for the full duration of current academic year.
                </li>
                <li>
                    I agree to comply with the statements, principles and assumptions relating to life and conduct.
                </li>
                <li>
                    I understand and agree that a violation of any of these terms, conditions, policies or procedures may result in the immediate revocation of the license
                    granted to me under this agreement and/or disciplinary action. I understand and agree that the only interest created by this license agreement is status as
                    a licensee in a residence space within a College residence for the full duration of current academic year, and that this license agreement does not constitute an
                    assignment to any particular residence accommodation.
                </li>
            </ul>
            <b> I have read, understood and agree to comply with all of the terms and conditions established in this license agreement.</b>

        </div>
        <p>Please sign with your name @ViewBag.User</p>
        <input type="text" id="lac-sig" placeholder="@ViewBag.User" />

        <div class="distribute-evenly">
            <button id="submit-button" onclick="ResSigSubmit()">Submit</button>
        </div>
    }
    else if (Model.CheckinSigRes != null && Model.LifeAndConductSigRes == null)
    {
        <p>You have signed and confirmed your entered damages.</p>
        <div class="divAddOn">
            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@ViewBag.User" />
            <input class="divAddOn-item" type="text" disabled value="@Model.CheckinSigRes.Value.ToString("yyyy-MM-dd")" />
        </div>

        <div class="life-and-conduct">
            <h4>Residence Hall License and Life and Conduct Agreement</h4>
            <p>THIS IS A LEGAL DOCUMENT AFFECTING YOUR RIGHTS.  PLEASE READ CAREFULLY.</p>
            <p>
                I, the undersigned student, understand and agree that, by signing this license agreement, I am accepting a license,
                granted by Gordon College, to occupy a room within a residence hall for the full duration of current academic year while enrolled
                as a student at Gordon College upon the following terms and conditions.
            </p>
            <ul>
                <li>
                    I acknowledge that I have read and am responsible for the information in the Gordon College Academic Catalog
                    and Student Handbook of current academic year, either in hardcopy or through online access at <a>www.gordon.edu/studenthandbook.</a>
                </li>
                <li>
                    I agree to comply with all terms, conditions, policies and procedures governing and relating to occupancy of College residences
                    which are contained in the aforementioned catalog and handbook including but not limited to provisions for and related to payment
                    of room charges and residence hall fees for the full duration of current academic year.
                </li>
                <li>
                    I agree to comply with the statements, principles and assumptions relating to life and conduct.
                </li>
                <li>
                    I understand and agree that a violation of any of these terms, conditions, policies or procedures may result in the immediate revocation of the license
                    granted to me under this agreement and/or disciplinary action. I understand and agree that the only interest created by this license agreement is status as
                    a licensee in a residence space within a College residence for the full duration of current academic year, and that this license agreement does not constitute an
                    assignment to any particular residence accommodation.
                </li>
            </ul>
            <b> I have read, understood and agree to comply with all of the terms and conditions established in this license agreement.</b>

        </div>

        <p>Please sign with your name @ViewBag.User</p>
        <input type="text" id="lac-sig" placeholder="@ViewBag.User" />

        <div class="distribute-evenly">
            <button id="submit-button" onclick="ResSigSubmit()">Submit</button>
        </div>
    }
    else if (Model.CheckinSigRes == null && Model.LifeAndConductSigRes != null)
    {
        <p>@ViewBag.User, please sign with your name to confirm the entered damages.</p>
        <input type="text" id="rci-sig" placeholder="@ViewBag.User" />

        <p>You have signed the life and conduct statement.</p>
        <div class="divAddOn">
            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@ViewBag.User" />
            <input class="divAddOn-item" type="text" disabled value="@Model.LifeAndConductSigRes.Value.ToString("yyyy-MM-dd")" />
        </div>

        <div class="distribute-evenly">
            <button id="submit-button" onclick="ResSigSubmit()">Submit</button>
        </div>
    }
    else
    {
        <p>You have signed and confirmed your entered damages.</p>
        <div class="divAddOn">
            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@ViewBag.User" />
            <input class="divAddOn-item" type="text" disabled value="@Model.CheckinSigRes.Value.ToString("yyyy-MM-dd")" />
        </div>

        <p>You have signed the life and conduct statement.</p>
        <div class="divAddOn">
            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@ViewBag.User" />
            <input class="divAddOn-item" type="text" disabled value="@Model.LifeAndConductSigRes.Value.ToString("yyyy-MM-dd")" />
        </div>

        <p>You've already signed both your RCI and the Life and Conduct Statement. You're good to go!</p>
        <div class="distribute-evenly">
            <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"Dashboard")'">Back to Dashboard</button>
        </div>
    }

</div>

