@model Phoenix.Models.ViewModels.CheckinCommonAreaRciViewModel

<div id="rci-@Model.RciID">
    <h2>Signature</h2>
    @foreach (var member in Model.CommonAreaMember)
            {
                if (member.HasSignedCommonAreaRci)
                {
            <p>This Common Area RCI has been signed by the resident @member.FirstName @member.LastName</p>
            <div class="divAddOn">
                <input class="divAddOn-field" type="text" readonly="readonly" value="@member.FirstName @member.LastName" />
                <input class="divAddOn-item" type="text" disabled value="@member.Signature" />
            </div>
        }
        else
        {
            <p>I, @member.FirstName @member.LastName, confirm, by signing below that I have recorded  all the pre-existing damages to the room in this RCI to the best of my ability. I am responsible for any substantial damage found in the room, but absent from this RCI.</p>
            <div class="divAddOn">
                @if (member.GordonID == ViewBag.GordonID)
                {
                    <input id="rci-sig" class="divAddOn-field" type="text" placeholder="@member.FirstName @member.LastName" />
                }
                else
                {
                    <input class="divAddOn-field" type="text" disabled placeholder="@member.FirstName @member.LastName" />
                }
            </div>
        }
    }

</div>

<div class="distribute-evenly">
    <button id="submit-button" onclick="CommonAreaSubmit();">Submit</button>
</div>
