@model Phoenix.Models.Rci

@{
    ViewBag.Title = "CheckinSigRes";
}

@section Scripts{
    @Scripts.Render("~/Scripts/checkin-sig-res.js")
}

<h2 id="@Model.RciID">Signature</h2>

<div>
    <p>Please sign with your Gordon username @ViewBag.Username to confirm the entered existing damages.</p>

    @if (Model.CheckinSigRes == null)
    {
        <input type="text" id="rci-sig" />
    }
    else 
    {
    <input type="text" id="rci-sig" disabled="disabled" value="@ViewBag.Username"/>
    }
    
</div>

<div>
    <p>I have read, understood and agree to comply with all of the terms and conditions established in the license agreement.</p>
    <p>Please sign with your Gordon username @ViewBag.Username</p>

    @if (Model.LifeAndConductSigRes == null)
    {
        <input type="text" id="lac-sig" />
    }
    else
    {
        <input type="text" id="lac-sig" disabled="disabled" value="@ViewBag.Username" />
    }

</div>

<div class="distribute-evenly">
    <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = Model.RciID })'">Back</button>
    <button id="submit-button">Submit</button>
</div>
