@model Phoenix.Models.Rci

@{
    ViewBag.Title = "Check-In Signature";
    ViewBag.ViewTitle = "Checkin: RA Signature";
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

@section Scripts{
    @Scripts.Render("~/Scripts/checkin-sig-ra.js")
}

<h2 id="rci-@Model.RciID">Signature</h2>

        <div>

    @if (Model.GordonID == ViewBag.GordonID)
    {


        if (Model.CheckinSigRes == null || Model.LifeAndConductSigRes == null)
        {
            if (Model.CheckoutSigRes == null)
            {
            <p>Please sign with your name @ViewBag.User to confirm the entered existing damages as a resident.</p>
            <input type="text" id="rci-sig-res" value="@ViewBag.User" />
            }
            else
            {
                <p>You've already signed your RCI. You're good to go on that front!</p>
            }

            if (Model.LifeAndConductSigRes == null)
            {
                <p>I have read, understood and agree to comply with all of the terms and conditions established in the license agreement.</p>
                <p>Please sign with your name @ViewBag.User</p>
                <input type="text" id="lac-sig" value="@ViewBag.User" />
            }
            else
            {
                <p>You've already signed the Life and Conduct Statement. You're all set on that!</p>
            }

            <div class="distribute-evenly">
                <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = Model.RciID })'">Back</button>
                <button id="submit-button" onclick="RASigSubmit()">Submit</button>
            </div>
        }
        else
        {
            <p>You've already signed both your RCI and the Life and Conduct Statement. You're good to go!</p>
            <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"Dashboard")'">Back to Dashboard</button>
        }


    }
    else
    {
        if ((Model.CheckinSigRes == null || Model.LifeAndConductSigRes == null) && Model.GordonID != ViewBag.GordonID)
        {
            <p>Resident hasn't signed yet. Please make sure resident has signed before signing.</p>
        }
        else if (Model.CheckinSigRA == null)
        {
            <p>Please sign with your name @ViewBag.User to confirm the entered existing damages as an RA.</p>
            <input type="text" id="rci-sig" value="@ViewBag.User" />
            <div class="distribute-evenly">
                <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = Model.RciID })'">Back</button>
                <button id="submit-button" onclick="RASigSubmit()">Submit</button>
            </div>
        }
        else
        {
            <p>You've already signed this resident's RCI.</p>
            <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = Model.RciID })'">Back</button>
        }
    }

        </div>

