@model Phoenix.Models.RCI

@{
    ViewBag.Title = "CheckinSigRD";
}

@section Scripts{
    @Scripts.Render("~/Scripts/checkin-sig-rd.js")
}

<h2 id="@Model.rciID">Signature</h2>

<div>
    <p>Please sign with your Gordon username @ViewBag.Username to confirm the entered existing damages.</p>

    @if (Model.checkinSigRes == null || Model.lifeAndConductSigRes == null)
    {
        <p>Resident hasn't signed yet. Please make sure resident and RA have signed before signing.</p>
        <input type="text" id="rci-sig" disabled="disabled" />
    }
    else if (Model.checkinSigRA == null)
    {
        <p>RA hasn't signed yet. Please make sure RA has signed before signing.</p>
        <input type="text" id="rci-sig" disabled="disabled" />
    }
    else if (Model.checkinSigRD == null)
    {
        <input type="text" id="rci-sig" />
    }
    else
    {
        <input type="text" id="rci-sig" disabled="disabled" value="@ViewBag.Username" />
    }

</div>

<div class="distribute-evenly">
    <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"RCIInput", routeValues: new { id = Model.rciID })'">Back</button>
    <button id="submit-button">Submit</button>
</div>
