@model Phoenix.Models.RciComponent
<div class="pane component" id="@Model.RciComponentID">
    <h2 class="pane-title div-list-toggle">@Model.RciComponentName<i class="material-icons">arrow_drop_down</i></h2>

    <div class="input pane-content">
        @if (Model.Rci.GordonID != null && Model.RciComponentDescription != null && Model.RciComponentDescription.Trim() != "")
        {
            <p><b>Possible places:</b> @Model.RciComponentDescription</p>
        }
        <div class="divAddOn">
            <label class="file-input-label divAddOn-field" for="dmg-input-@Model.RciComponentID">
                <i class="material-icons">add_a_photo</i>
                <span>Take picture</span>
            </label>
            @*<span class="divAddOn-item">0 Picture(s)</span>*@
        </div>
        <input id="dmg-input-@Model.RciComponentID" class="file-input" multiple type="file" accept="image/*;capture=camera">
        <div id="img-preview-@Model.RciComponentID" class="img-thumbnails">
            @foreach (var damage in Model.Damage)
            {
                if (damage.DamageType.Equals("IMAGE"))
                {
                    <div class="thumbnail-container">
                        <img id ="thumbnail-img-@damage.DamageID"class="uploaded-img thumbnail" src=@damage.DamageImagePath alt="Damage Image Thumbnail">
                        <div class="delete-icon"><i id="@damage.DamageID" class="material-icons delete">close</i></div>
                    </div>
                }
            }
        </div>
        <div id="modal-@Model.RciComponentID" class="img-modal">
            <div class="modal-header"><i class="material-icons clear">clear</i></div>
            <div class="modal-content">
                @foreach (var damage in Model.Damage)
                {
                    if (damage.DamageType.Equals("IMAGE"))
                    {
                        <div id="img-slide-@damage.DamageID" class="img-slide"><img class="uploaded-img" src=@damage.DamageImagePath alt="Damage Image Enlarged"></div>
                    }
                }
                <i class="material-icons backward">navigate_before</i>
                <i class="material-icons forward">navigate_next</i>
            </div>
        </div>
        <br />
        <div>
            <p>OR</p>
        </div>
        <br />
        <div>
            <p>Describe the damage and its location:</p>
        </div>
        <div class="divAddOn">
            <input class="divAddOn-field adding-damages" type="text" placeholder="Damage + Location"
                   id="text-input-@Model.RciComponentID" />
            <button class="divAddOn-item" onclick="addDamage(@Model.RciComponentID);" id="add-@Model.RciComponentID">Add</button>
        </div>
        <div class="div-list" id="div-list-@Model.RciComponentID">
            <div class="div-list-toggle icon-label">
                <i class="material-icons" aria-hidden="true">arrow_drop_down</i>
                <span>Hide/Show Entered Damages</span>
            </div>
            @foreach (var damage in Model.Damage)
            {
                if (damage.DamageDescription != null)
                {
                    <div class="divAddOn">
                        <p class="divAddOn-field">@damage.DamageDescription</p>
                        <i class='divAddOn-item material-icons' onclick="deleteExistingDamages(event, this, @damage.DamageID)">delete</i>
                    </div>
                }
            }
        </div>
    </div>
</div>

