@model Phoenix.Models.Rci

@{
    ViewBag.Title = "Damage Input";
    ViewBag.MenuExists = "T";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/rci-input")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-input")
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item"><a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")">Dashboard</a></li>
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}
<div class="view">
    @if (ViewBag.commonRooms == null)
    {

        foreach (var component in Model.RciComponent)
        {
            @Html.Partial("Component", component);
        }
    }
    else
    {
        foreach (var room in ViewBag.commonRooms)
        {
            <h2>@room</h2>
            foreach (var component in Model.RciComponent.Where(x => x.RciComponentDescription.Equals(room)))
            {
                @Html.Partial("Component", component);
            }
        }
    }
    
    
    <div class="button-group">
        <button id="save-button" class="button-group-element">Save</button>
        <button id="next-button" class="button-group-element" onclick="window.location.href = '@Url.Action(actionName:"CheckinSig", controllerName:"RciInput", routeValues: new { id = Model.RciID })'">Next</button>
    </div>
 </div>