@model Phoenix.Models.Rci

@{
    ViewBag.Title = "Damage Input";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
    ViewBag.GordonID = TempData["id"];
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/rci-input")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-input")
}

<div class="view">
    <h2>@ViewBag.ViewTitle</h2>
    @if (ViewBag.commonRooms == null)
    {

        foreach (var component in Model.RciComponent)
        {
            @Html.Partial("Component", component);
        }
    }
    else
    {
        foreach (var room in ViewBag.commonRooms)
        {
            <h2>@room</h2>
            foreach (var component in Model.RciComponent.Where(x => x.RciComponentDescription.Equals(room)))
            {
                @Html.Partial("Component", component);
            }
        }
    }
    
    
    <div class="button-group">
        <button id="save-button" class="button-group-element">Save</button>
        <button id="next-button" class="button-group-element">Next</button>
    </div>
    <div class="signature-overlay">

    </div>
    <div id="signature-container">
        @if (ViewBag.Role == "Resident")
        {
            if (Model.GordonID == null)
            {
                @Html.Partial("CheckinSigCommonArea")
            }
            else
            {
                @Html.Partial("CheckinSigRes", Model)
            }
        }
        else if (ViewBag.Role == "RA")
        {
            @Html.Partial("CheckinSigRA", Model)
        }
        else if (ViewBag.Role == "RD")
        {
            @Html.Partial("CheckinSigRD", Model)
        }
    </div>

 </div>