@model Phoenix.Models.ResidentRCI

@{
    ViewBag.Title = "Index";
}

<form method="post" action="/RCIInput/Edit">
    @foreach (var component in Model.RCIComponents)
    {
        <div>
            <h3>@component.RCIComponentName</h3>
            <h4>Added Damages</h4>
            <div class="added-damages">
                <ul>
                    @foreach (var existingDamage in component.Damages)
                    {
                        <li>@existingDamage.DamageDescription<input type="hidden" name="@component.RCIComponentID" value="@existingDamage.DamageDescription"/></li>

                    }
                </ul>
            </div>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse-@component.RCIComponentName" aria-expanded="false" aria-controls="collapse-@component.RCIComponentName">
                +
            </a>
            <div class="collapse" id="collapse-@component.RCIComponentName">
                <div class="well">
                    @{ var damageHtmlID = component.RCIComponentID; }
                    <input type="text" class="form-control" id="@damageHtmlID" placeholder="Add a damage description">
                    <a class="btn btn-default" onclick="addDamage(@damageHtmlID);">OK</a>
                </div>
            </div>
        </div>
                        }
    <input type="submit" value="Save" />
</form>
