@model Phoenix.Models.RCI

@{
    ViewBag.Title = "Damage Input";
    ViewBag.MenuExists = "T";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/rci-input")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-input")
}
<div class="view">
    @foreach(var component in Model.RCIComponent)
    {
        <div class="pane component" id="@component.rciComponentID">
            <h2 class="pane-title div-list-toggle">@component.rciComponentName</h2>
            <div class="pane-content">
                <div class="divAddOn">
                    <label class="file-input-label divAddOn-field" for="dmg-input-@component.rciComponentID">
                        <i class="material-icons">add_a_photo</i>
                        <span>Take picture</span>
                    </label>
                    <span class="divAddOn-item">0 Picture(s)</span>
                </div>
                <input id="dmg-input-@component.rciComponentID" class="file-input" type="file" accept="image/*;capture=camera">
                <div>
                    <p>OR</p>
                </div>
                <div>
                    <p>Describe the Damage:</p>
                </div>
                <div class="divAddOn">
                    <input class="divAddOn-field adding-damages" type="text" placeholder="Damage + Location" id="text-input-@component.rciComponentID"/>
                    <button class="divAddOn-item" onclick="addDamage(@component.rciComponentID);" id="add-@component.rciComponentID">Add</button>
                </div>
                <div class="div-list" id="div-list-@component.rciComponentID">
                    <div class="div-list-toggle icon-label">
                        <i class="material-icons" aria-hidden="true">arrow_drop_down</i>
                        <span>Hide/Show Entered Damages</span>
                    </div>
                    @foreach (var damage in component.Damage)
                    {
                        if (damage.damageDescription != null)
                        {
                            <div class="divAddOn">
                                <p class="divAddOn-field">@damage.damageDescription</p>
                                <i class='divAddOn-item material-icons' onclick="deleteExistingDamages(event, this, @damage.damageID)">delete</i>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    <div class="button-group">
        <button id="save-button" class="button-group-element">Save</button>
        <button class="button-group-element" onclick="window.location.href = '@Url.Action(actionName:"CheckinSig", controllerName:"RCIInput", routeValues: new { id = Model.rciID })'">Next</button>
    </div>
 </div>