@model Phoenix.Models.ViewModels.FullRciViewModel

@{
    ViewBag.Title = "Check-In";
    ViewBag.Header = Model.FirstName + " " + Model.LastName + " " + Model.BuildingDescription + " " + Model.RoomNumber;
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
    ViewBag.GordonID = TempData["id"];
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/rci-input")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-input")
}

<div class="view">
    <h3>@ViewBag.Header</h3>

    @{ var roomComponentsGroupedByArea = Model.RoomComponents.GroupBy(x => x.RoomArea); }

   
    @foreach (var roomArea in roomComponentsGroupedByArea)
    {
        <h3>@roomArea.Key</h3>
        foreach (var roomComponent in roomArea)
        {
            @Html.Partial("Component", roomComponent);
        }
    }


    <div class="distribute-evenly">
        <button id="next-button" >Next</button>
    </div>
</div>

<div class="signature-overlay">

</div>
<div id="signature-container">
    @if (ViewBag.Role == "Resident") // If this is a resident
    {
        if (Model.GordonId == null) // We are displaying a common area rci
        {
            @Html.Partial("CheckinSigCommonArea", Model) // Load the common area signature container
        }
        else // We are displaying an Individual's Rci
        {
            @Html.Partial("CheckinSigRes", Model) // Load the resident signature container
        }
    }
    else if (ViewBag.Role == "RA") // If This is an RA
    {
        if(Model.GordonId == null && ViewBag.RAIsMemberOfApartment && Model.ResidentCheckinDate == null) // And we are displaying a common are And the Ra is part of the apartment AND not all residents have signed.
        {
            @Html.Partial("CheckinSigCommonArea", Model)
        }
        else
        {
            @Html.Partial("CheckinSigRA", Model)
        }
    }
    else if (ViewBag.Role == "RD")
    {
        @Html.Partial("CheckinSigRD", Model)
    }
    else if (ViewBag.Role == "ADMIN")
    {
        @Html.Partial("CheckinSigRD", Model)
    }
</div>