@model Phoenix.Models.ResidentRCI

@{
    ViewBag.Title = "Index";
}

<form method="post" action="/RCIInput/SaveRCI">
    @foreach (var component in Model.RCIComponents)
    {
        <div>
            <h3>@component.RCIComponentName</h3>
            <h4>Added Damages</h4>
            <div id="existing-damages-@component.RCIComponentID">
                @foreach (var existingDamage in component.Damages)
                {
                    <p>@existingDamage.DamageDescription | @Html.ActionLink("Delete", "QueueDamageForDelete", new { id = existingDamage.DamageID }, new { onclick = "deleteNewDamages(event,this);" } ) </p>
                    <input type="hidden" value="@existingDamage.DamageDescription" />

                }
            </div>
            <div id="new-damages-@component.RCIComponentID">

            </div>

            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse-@component.RCIComponentName" aria-expanded="false" aria-controls="collapse-@component.RCIComponentName">
                +
            </a>
            <div class="collapse" id="collapse-@component.RCIComponentName">
                <div class="well">
                    @{ var damageHtmlID = component.RCIComponentID; }
                    <input type="text" class="form-control adding-damages" id="@damageHtmlID" placeholder="Add a damage description">
                    <a class="btn btn-default" id="ok-@damageHtmlID" onclick="addDamage(@damageHtmlID);" data-toggle="collapse" href="#collapse-@component.RCIComponentName" aria-expanded="false" aria-controls="collapse-@component.RCIComponentName">OK</a>
                </div>
            </div>
        </div>
                        }
    <input type="submit" value="Save" />
</form>

@Scripts.Render("~/bundles/rci-input")