@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "RCI-Dashboard";
    ViewBag.ViewTitle = "RCI Dashboard Admin";
    ViewBag.MenuExists = "T";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item"><a href="@Url.Action(actionName: "ExportFines", controllerName: "Dashboard")">Export Fines</a></li>
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}

<div class="view">
    <div class="pane">
        <h3>
            RCIs
        </h3>
        <div class="divAddOn search-bar">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
            <div class="divAddOn-item"><i class="material-icons">search</i></div>
        </div>

        <div class="divAddOn sort-bar">
            <label class="divAddOn-item">Order by:</label>
            <select name="orderBy" class="divAddOn-field">
                <option></option>
                <option value="building">Building</option>
                <option value="date">Date</option>
                <option value="name">Name</option>
            </select>
        </div>

        @foreach (var rci in Model)
        {
            <div class="divAddOn-vert">
                <div class="divAddOn-vert-field search-field sort-field">
                    <p class="building">@rci.BuildingCode @rci.RoomNumber</p>
                    <p class="name">@rci.FirstName @rci.LastName</p>
                </div>
                <div class="divAddOn-vert-row">
                    <a href="@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = rci.RciID })">
                        <div>
                            <i class="material-icons">mode_edit</i>
                        </div>
                    </a>
                    <a href="@Url.Action(actionName:"Index", controllerName:"RciCheckout", routeValues: new { id = rci.RciID })">
                        <div>
                            <i class="material-icons">attach_money</i>
                        </div>
                    </a>
                    @if (rci.FirstName != "Common Area")
                    {
                        <a href="@Url.Action(actionName: "Index", controllerName: "RciComponentReassign", routeValues: new { id = rci.RciID })">
                            <div>
                                <i class="material-icons">swap_horiz</i>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
    </div>

</div>
