@model Phoenix.Models.ViewModels.HomeRciViewModel
     @{
         var rci = Model;
         var rciCssClass = "";
         if (rci.RciStage == "CHECKIN")
         {
             rciCssClass = "rci-card-checkin";
         }
         else
         {
             rciCssClass = "rci-card-checkout";
         }
     }
<div id="@rci.RciID" class="divAddOn-vert rci-card">
    <a data-selenium-id="dashboard-page-rci-button" href="@Url.Action(actionName:"GotoRci", controllerName:"Dashboard", routeValues: new { rciID = rci.RciID })">
        <div class="divAddOn-vert-field search-field @rciCssClass">
            <p class="emphasized" data-selenium-id="dashboard-page-rci-building-and-room">@rci.BuildingCode @rci.RoomNumber</p>
            <p data-selenium-id="dashboard-page-rci-student-name">@rci.FirstName @rci.LastName</p>
            @Html.Partial("~/Views/Dashboard/SignatureBlocks.cshtml", rci)
        </div>
    </a>
</div>
