@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.ViewTitle = "Dashboard";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

<div class="view">
    <div class="pane">
        @Html.Partial("Legend")
        <div>
            RCIs
        </div>
        <div class="divAddOn search-bar">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
        </div>
        
                @foreach (var rci in Model)
                {
                    var rciCssClass = "";
                    if(rci.RciStage == "CHECKIN")
                    {
                        rciCssClass = "rci-card-checkin";
                    }
                    else
                    {
                        rciCssClass = "rci-card-checkout";
                    }
                    <div class="divAddOn-vert rci-card">
                        <a href="@Url.Action(actionName:"GotoRci", controllerName:"Dashboard", routeValues: new { rciID = rci.RciID })">
                            <div class="divAddOn-vert-field search-field @rciCssClass">
                                <p>@rci.BuildingCode @rci.RoomNumber</p>
                                <p>@rci.FirstName @rci.LastName</p>
                                @Html.Partial("SignatureBlocks", rci)
                            </div>
                            </a>
                       </div>
                }
    </div> 
</div>
