@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "RCI-Dashboard";
    ViewBag.ViewTitle = "RCI Dashboard";
    ViewBag.MenuExists = "T";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

@section Menu {
<ul class="drawer-menu">
    <li class="drawer-menu-item logout-button">Logout</li>
</ul>
}


<div class="view">
    <div class="pane">
        <div>
            RCIs
        </div>
        <div class="divAddOn search-bar">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
            <div class="divAddOn-item"><i class="material-icons">search</i></div>
        </div>
        <div class="button-group">
            <div class="button-group-element">
                Residents
            </div>
            <div class="button-group-element">
                Rooms
            </div>
        </div>
        @foreach (var rci in Model)
        {
            <div class="divAddOn">
                <div class="divAddOn-field">
                    <p>@rci.BuildingCode @rci.RoomNumber</p>
                    <p>@rci.FirstName @rci.LastName</p>
                </div>
                <a class="divAddOn-item" href="@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = rci.RciID })">
                    <div>
                        <i class="material-icons">mode_edit</i>
                    </div>
                </a>
                <a class="divAddOn-item" href="@Url.Action(actionName:"Index", controllerName:"RciCheckout", routeValues: new { id = rci.RciID })">
                    <div>
                        <i class="material-icons">rowing</i>
                    </div>
                </a>
                <a class="divAddOn-item">
                    <div>
                        <i class="material-icons">delete</i>
                    </div>
                </a>
            </div>
        }
    </div> 
</div>
