@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.ViewTitle = "Dashboard";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

<div class="view">
    <div class="legend">
        <div>
            <span style ="background:#014983;" class="legend-color"></span>
            <span class="legend-text">Check-In</span>
        </div>
        <div>
            <span style ="background:#B2BB1C;" class="legend-color"></span>
            <span class="legend-text">Checkout</span>
        </div>
    </div>
    <div class="pane">
        <div>
            RCIs
        </div>
        <div class="divAddOn search-bar">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
        </div>
        
                @foreach (var rci in Model)
                {
                    <div class="divAddOn-vert rci-card">
                        <a href="@Url.Action(actionName:"GotoRci", controllerName:"Dashboard", routeValues: new { rciID = rci.RciID })">
                            <div class="divAddOn-vert-field search-field rci-card-main">
                                <p>@rci.BuildingCode @rci.RoomNumber</p>
                                <p>@rci.FirstName @rci.LastName</p>
                                <i class="material-icons edit">mode_edit</i>
                            </div>
                            </a>
                            <div class="divAddOn-vert-row rci-card-links">
                                This RCI has been signed by the Resident
                            </div>
                       </div>
                }
    </div> 
</div>
