@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "RCI-Dashboard";
    ViewBag.ViewTitle = "RCI Dashboard";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

<div class="view">
    <div class="pane">
        <div>
            RCIs
        </div>
        <div class="divAddOn search-bar">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
            <div class="divAddOn-item"><i class="material-icons">search</i></div>
        </div>
        
                @foreach (var rci in Model)
                {
                    <div class="divAddOn-vert-field">
                        <a href="@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = rci.RciID })">
                            <div class="divAddOn-vert search-field">
                                <p>@rci.BuildingCode @rci.RoomNumber</p>
                                <p>@rci.FirstName @rci.LastName</p>
                            </div>
                            </a>
                            <div class="divAddOn-vert-row">
                                <a href="@Url.Action(actionName:"Index", controllerName:"RciCheckout", routeValues: new { id = rci.RciID })">
                                    Checkout
                                </a>
                                @if (rci.FirstName != "Common Area")
                                {
                                    <a href="@Url.Action(actionName: "Index", controllerName: "RciComponentReassign", routeValues: new { id = rci.RciID })">
                                        Swap Furniture
                                    </a>
                                }
                            </div>
                       </div>
                }
    </div> 
</div>
