@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>


@{
    ViewBag.Title = "Dashboard";
    ViewBag.ViewTitle = "Dashboard";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

<div class="view">
    <div class="pane">
        @*<h4 class="dashboard-rci-list-header">
                My RCIs
            </h4>*@
        @foreach (var rci in Model)
        {
            <div class="divAddOn-vert rci-card">
                <a href="@Url.Action(actionName:"GotoRci", controllerName:"Dashboard", routeValues: new { rciID = rci.RciID })">
                    <div class="divAddOn-vert-field search-field rci-card-main">
                        <p class="emphasized">@rci.BuildingCode @rci.RoomNumber</p>
                        <p>@rci.FirstName @rci.LastName</p>
                        <i class="material-icons edit">mode_edit</i>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


