@model IEnumerable<Phoenix.Models.ViewModels.HomeRCIViewModel>

@{
    ViewBag.Title = "RCI-Dashboard";
    ViewBag.ViewTitle = "RCI Dashboard";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

<div class="view"> 
    <div class="pane">
        <h3>
            RCIs
        </h3>
        <div class="divAddOn">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
            <div class="divAddOn-item"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <div class="button-group">
            <div class="button-group-element">
                Residents
            </div>
            <div class="button-group-element">
                Rooms
            </div>
        </div>
        @foreach (var rci in Model)
        {
            <div class="divAddOn">
                <div class="divAddOn-field">
                    <p>@rci.BuildingCode @rci.RoomNumber</p>
                    <p>@rci.FirstName @rci.LastName</p>
                </div>
                <a class="divAddOn-item" href="@Url.Action(actionName:"Index", controllerName:"RCIInput", routeValues: new { id = rci.RCIID })">
                    <div>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </a>
                <a class="divAddOn-item">
                    <div>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                </a>
                <a class="divAddOn-item">
                    <div>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        }
    </div>

    <div class="pane">
        <h3>Administrative</h3>
        <div class="button-group">
            <div class="button-group-element">
                Export Fines
            </div>
        </div>
    </div>

    <div class="pane">
        <div class="button-group">
            <div class="button-group-element logout-button">
                Logout
            </div>
        </div>
    </div>
</div>
