@model IEnumerable<Phoenix.Models.ViewModels.HomeRCIViewModel>


@{
    ViewBag.Title = "RCI-Dashboard";
    ViewBag.ViewTitle = "RCI Dashboard";
    ViewBag.MenuExists = "T";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}

<div class="view">
    <div class="pane">
        <div>
            My RCIs
        </div>
        @foreach (var rci in Model)
        {
            <div class="divAddOn">
                <div class="divAddOn-field">
                    <p>@rci.BuildingCode @rci.RoomNumber</p>
                    <p>@rci.FirstName @rci.LastName</p>
                </div>
                <a class="divAddOn-item" href="@Url.Action(actionName:"Index", controllerName:"RCIInput", routeValues: new { id = rci.RCIID })">
                    <div>
                        <i class="material-icons">mode_edit</i>
                    </div>
                </a>
            </div>
        }
    </div> 
</div>


