@model IEnumerable<Phoenix.Models.ViewModels.HomeRCIViewModel>


@{
    ViewBag.Title = "RCI-Dashboard";
    ViewBag.ViewTitle = "RCI Dashboard";
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}

<div class="view">
    <div class="pane">
        <div>
            My RCIs
        </div>
        @foreach (var rci in Model)
        {
            <div class="divAddOn">
                <div class="divAddOn-field">
                    <p>@rci.BuildingCode @rci.RoomNumber</p>
                    <p>@rci.FirstName @rci.LastName</p>
                </div>
                <div class="divAddOn-item">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
            </div>
        }
    </div> 

    <div class="pane">
        <div class="button-group">
            <div class="button-group-element logout-button">
                Logout
            </div>
        </div>
    </div>
</div>


