@model Phoenix.Models.ViewModels.CheckoutCommonAreaRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: " + Model.BuildingCode + " " + Model.RoomNumber;
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

@section Styles{
    @Styles.Render("~/bundles/page_specific/css/rci-checkout")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-checkout")
}

<div class="view">
    <h2>@ViewBag.ViewTitle</h2>
    @foreach (var room in ViewBag.commonRooms)
    {
        <h2>@room</h2>
        foreach (var component in Model.RciComponent.Where(x => x.RciComponentDescription.Equals(room)))
        {
            var visible = "hide";
            if (component.Damage.Any() || component.Fine.Any())
            {
                visible = "show";
            }
            <div class="pane component" id="@component.RciComponentID">
                <h2 class="pane-title div-list-toggle">@component.RciComponentName<i class="material-icons">arrow_drop_down</i></h2>
                <div class="checkout pane-content @visible">
                    <div class="div-list">
                        <div id="img-preview-@component.RciComponentID" class="img-thumbnails">
                            @foreach (var damage in component.Damage)
                            {
                                if (damage.DamageType.Equals("IMAGE"))
                                {
                                    <div><img class="uploaded-img thumbnail" src=@damage.DamageImagePath alt="Damage Image Thumbnail"></div>
                                }
                            }
                        </div>
                        <div id="modal-@component.RciComponentID" class="img-modal">
                            <div class="modal-header"><i class="material-icons clear">clear</i></div>
                            <div class="modal-content">
                                @foreach (var damage in component.Damage)
                                {
                                    if (damage.DamageType.Equals("IMAGE"))
                                    {
                                        <div class="img-slide"><img class="uploaded-img" src=@damage.DamageImagePath alt="Damage Image Enlarged"></div>
                                    }
                                }
                                <i class="material-icons backward">navigate_before</i>
                                <i class="material-icons forward">navigate_next</i>
                            </div>
                        </div>
                        @foreach (var damage in component.Damage)
                        {
                            if (damage.DamageDescription != null)
                            {
                                <div class="divAddOn existing-damage-wrapper">
                                    <p class="divAddOn-field existing-damage">@damage.DamageDescription</p>
                                </div>
                            }
                        }
                    </div>
                    <div>
                        <p>Add Charge</p>
                    </div>
                    <div class="divAddOn-vert">
                        <div class="divAddOn-vert-field">
                            <div class="divAddOn">
                                <input class="divAddOn-field adding-fines" type="text" placeholder="Charge" id="text-input-@component.RciComponentID" />
                                <input class="divAddOn-item adding-fines" type="number" placeholder="$" id="fine-amount-input-@component.RciComponentID" />
                            </div>
                        </div>
                        <div class="divAddOn-vert-row">
                            <label class="divAddOn-item">Charge to:</label>
                            <select class="divAddOn-field" id="fine-owner-@component.RciComponentID">
                                <option value="0">All - Split the charge</option>
                                @foreach (var person in Model.CommonAreaMember)
                                {
                                    <option value="@person.GordonID">@person.FirstName @person.LastName</option>
                                }
                            </select>
                        </div>
                        <button class="divAddOn-vert-field" onclick="addFine(@component.RciComponentID);" id="add-@component.RciComponentID">Add</button>
                    </div>
                    <div class="horizontal-scroll-wrapper">
                        <table class="fine-table" id="fine-list-@component.RciComponentID">
                            <tr>
                                <th>Charge</th>
                                <th>Amount ($)</th>
                                <th>Charge To:</th>
                                <th>Delete</th>
                            </tr>
                            @foreach (var fine in component.Fine)
                            {
                                <tr>
                                    <td>@fine.Reason</td>
                                    <td class="center-table-col">@fine.FineAmount</td>
                                    <td>@Model.CommonAreaMember.Where(x => x.GordonID == fine.GordonID).Select(m => m.FirstName + " " + m.LastName).FirstOrDefault()</td>
                                    <td class="center-table-col"><i class="material-icons" onclick="deleteFine(event, this, @fine.FineID)">close</i></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    }


    <div class="distribute-evenly">
        <button id="next-button" onclick="window.location.href = '@Url.Action(actionName:"CommonAreaSignature", controllerName:"RciCheckout", routeValues: new { id = Model.RciID })'">Next</button>
    </div>
</div>
