@model Phoenix.Models.ViewModels.CheckoutCommonAreaRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: Common Area Signature";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
}

<h2>@ViewBag.ViewTitle</h2>
<div class="view">
    <div class="pane">
        <div class="pane-content">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">
                    @foreach (var error in ViewBag.ErrorMessage)
                    {
                        <p>@error</p>
                    }
                </div>
            }
            @using (Html.BeginForm(actionName: "CommonAreaSignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @foreach (var person in Model.CommonAreaMember)
                    {
                        if (person.HasSignedCommonAreaRci)
                        {
                            <p>This Common Area RCI has been signed by the resident @person.FirstName @person.LastName</p>
                            <div class="divAddOn">
                                <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@person.FirstName @person.LastName" />
                                <input class="divAddOn-item" type="text" disabled value="@person.Signature" />
                            </div>
                        }
                        else
                        {
                            <p>I, @person.FirstName @person.LastName, hereby agree to the preliminary fines that have been assessed by my AC. I understand that these fines are subject to change at the discretion of the Resident Director</p>
                            <div class="divAddOn">
                                <input class="divAddOn-field" name="signature" type="text" placeholder="@person.FirstName @person.LastName" />
                            </div>
                        }
                    }
                </div>
                <div class="distribute-evenly">
                    <input type="submit" value="OK" />
                </div>
            }
        </div>
    </div>
</div>