@model Phoenix.Models.ViewModels.CheckoutCommonAreaRciViewModel

@{
    ViewBag.Title = "RCI Checkout";
    ViewBag.ViewTitle = "RCI Checkout: " + Model.BuildingCode + " " + Model.RoomNumber;
    ViewBag.MenuExists = "T";
}

@section Styles{
    @Styles.Render("~/bundles/page_specific/css/rci-checkout")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-checkout")
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item"><a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")">Dashboard</a></li>
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}

<div class="view">
    @if (ViewBag.commonRooms == null)
    {
        foreach (var component in Model.RciComponent)
        {
            @Html.Partial("Component", component);
        }
    }
    else
    {
        foreach (var room in ViewBag.commonRooms)
        {
            <h2>@room</h2>
            foreach (var component in Model.RciComponent.Where(x => x.RciComponentDescription.Equals(room)))
            {
                @Html.Partial("Component", component);
            }
        }
    }


    <div class="distribute-evenly">
        <button id="save-button">Save</button>
        <a class="button" href="@Url.Action(actionName:"CommonAreaSignature", controllerName:"RciCheckout", routeValues: new { id = Model.RciID })">Next</a>
    </div>
</div>
