@model Phoenix.Models.ViewModels.CheckoutRciViewModel

@{
    ViewBag.Title = "RCI Checkout";
    ViewBag.ViewTitle = "RCI Checkout: " + Model.FirstName + " " + Model.LastName;
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

@section Styles{
    @Styles.Render("~/bundles/page_specific/css/rci-checkout")
}

@section Scripts{
    @Scripts.Render("~/bundles/page_specific/js/rci-checkout")
}

<div class="view" data="@Model.GordonID">
    @if (ViewBag.commonRooms == null)
    {
        foreach (var component in Model.RciComponent)
        {
            @Html.Partial("Component", component);
        }
    }
    else
    {
        foreach (var room in ViewBag.commonRooms)
        {
            <h2>@room</h2>
            foreach (var component in Model.RciComponent.Where(x => x.RciComponentDescription.Equals(room)))
            {
                @Html.Partial("Component", component);
            }
        }
    }
    
    
    <div class="distribute-evenly">
        <button id="save-button">Save</button>
        <a class="button" href="@Url.Action(actionName:"ResidentSignature", controllerName:"RciCheckout", routeValues: new { id = Model.RciID })">Next</a>
        @*<a class="button" href="@Url.Action(actionName:"ResidentSignature", controllerName:"RciCheckout", routeValues: new { id = Model.RciID })">Next</a>*@
    </div>
</div>
