@model Phoenix.Models.RciComponent
<div class="pane component" id="@Model.RciComponentID">
    <h2 class="pane-title div-list-toggle">@Model.RciComponentName<i class="material-icons">arrow_drop_down</i></h2>
    <div class="checkout pane-content">
        @if (component.RciComponentDescription != null && component.RciComponentDescription.Trim() != "")
        {
            <p><b>Possible places:</b> @Model.RciComponentDescription</p>
        }
        <div class="div-list">
            <div id="img-preview-@Model.RciComponentID" class="img-thumbnails">
                @foreach (var damage in Model.Damage)
            {
                if (damage.DamageType.Equals("IMAGE"))
                {
                        <div><img class="uploaded-img thumbnail" src=@damage.DamageImagePath alt="Damage Image Thumbnail"></div>
                    }
                }
            </div>
            <div id="modal-@Model.RciComponentID" class="img-modal">
                <div class="modal-header"><i class="material-icons clear">clear</i></div>
                <div class="modal-content">
                    @foreach (var damage in Model.Damage)
                    {
                        if (damage.DamageType.Equals("IMAGE"))
                        {
                            <div class="img-slide"><img class="uploaded-img" src=@damage.DamageImagePath alt="Damage Image Enlarged"></div>
                        }
                    }
                    <i class="material-icons backward">navigate_before</i>
                    <i class="material-icons forward">navigate_next</i>
                </div>
            </div>
            @*<div class="div-list-toggle icon-label">
                <i class="material-icons" aria-hidden="true">arrow_drop_down</i>
                <span>Hide/Show Existing Damages</span>
            </div>*@
            @foreach (var damage in Model.Damage)
            {
                if (damage.DamageDescription != null)
                {
                    <div class="divAddOn damage-wrapper">
                        <p class="damage-element">@damage.DamageDescription</p>
                    </div>
                }
            }
        </div>
        <div>
            <p>Add Charge(s)</p>
        </div>
        <div class="divAddOn">
            <input class="divAddOn-field adding-fines" type="text" placeholder="Fine" id="text-input-@Model.RciComponentID" />
            <input class="divAddOn-item adding-fines" type="number" placeholder="2.00" id="fine-amount-input-@Model.RciComponentID" />
            <button class="divAddOn-item" onclick="addFine(@Model.RciComponentID);" id="add-@Model.RciComponentID">Add</button>
        </div>
        <div class="div-list" id="div-list-@Model.RciComponentID">
            <div class="div-list-toggle icon-label">
                <i class="material-icons" aria-hidden="true">arrow_drop_down</i>
                <span>Hide/Show Fines</span>
            </div>
            @foreach (var fine in Model.Fine)
            {
                <div class="divAddOn">
                    <p class="divAddOn-field">@fine.Reason</p>
                    <span class="divAddOn-item">$</span>
                    <p class="divAddOn-item">@fine.FineAmount</p>
                    <i class='divAddOn-item material-icons' onclick="deleteExistingFines(event, this, @fine.FineID)">delete</i>
                </div>
            }
        </div>
    </div>
</div>
