@model Phoenix.Models.ViewModels.GenericCheckoutViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: RA Signature";
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

<h2>@ViewBag.ViewTitle</h2>
<div class="view">
    <div class="pane">
        <div class="pane-content">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">
                   <p>@ViewBag.ErrorMessage</p>
                </div>
            }
            @using (Html.BeginForm(actionName: "RASignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRA == null)
                    {
                        <p>I, @ViewBag.ExpectedSignature, hereby agree that I have assessed preliminary fines to the best of my ability. I understand that these fines are subject to change at the discretion of the Resident Director.</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" placeholder="@ViewBag.ExpectedSignature" />
                        </div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the Resident Advisor</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@Model.CheckoutSigRAName" />
                            <input class="divAddOn-item" type="text" disabled value="@Model.CheckoutSigRA" />
                        </div>
                    }
                </div>
                <div class="distribute-evenly">
                    <button type="submit">Next</button>
                </div>
            }
        </div>
        
    </div>
</div>
