@model Phoenix.Models.ViewModels.CheckoutIndividualRoomRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: RA Signature";
    ViewBag.MenuExists = "T";
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item"><a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")">Dashboard</a></li>
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}

<div class="view">
    <div class="pane">
        <div class="pane-content">
            @using (Html.BeginForm(actionName: "RASignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRA == null)
                    {
                        <div class="divAddOn">
                            <div class="divAddOn-item"><input type="checkbox" name="improperCheckout" value="true" /></div>
                            <div class="divAddOn-field">Improper Checkout</div>
                        </div>
                        <div class="divAddOn">
                            <div class="divAddOn-item"><input type="checkbox" name="lostKey" value="true" /></div>
                            <div class="divAddOn-field">Lost Keys</div>
                            <div class="divAddOn-item">$</div>
                            <input class="lost-key-fine divAddOn-item" name="lostKeyFine" type="number" placeholder="2.00" />
                        </div>

                        <p>I hereby agree that i have assessed preliminary fines to the best of my ability. I understand that these fines are subject to change at the discretion of the Resident Director.</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" placeholder="@ViewBag.ExpectedSignature" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the Resident Advisor for @Model.FirstName @Model.LastName</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@Model.CheckoutSigRAName" />
                            <input class="divAddOn-item" type="text" disabled value="@Model.CheckoutSigRA" />
                        </div>
                    }
                </div>
                <div class="distribute-evenly">
                    <input type="submit" value="OK" />
                </div>
            }
        </div>
        
    </div>
</div>
