@model Phoenix.Models.ViewModels.CheckoutRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: RA Signature";
}
<div class="view">
    <div class="pane">
        <div class="pane-content">
            @using (Html.BeginForm(actionName: "RASignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRA == null)
                    {
                        <div class="divAddOn">
                            <div class="divAddOn-item"><input type="checkbox" name="improperCheckout" value="true" /></div>
                            <div class="divAddOn-field">Improper Checkout</div>
                        </div>
                        
                        <p>I hereby agree that i have assessed preliminary fines to the best of my ability. I understand that these fines are subject to change at the discretion of the Resident Director.</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" placeholder="@ViewBag.ExpectedSignature" />
                            <input class="divAddOn-item" name="date" type="text" readonly="readonly" value="@(DateTime.Today.Month)/@(DateTime.Today.Day)/@(DateTime.Today.Year)" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the Resident Advisor for @Model.FirstName @Model.LastName</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@ViewBag.ExpectedSignature" />
                            <input class="divAddOn-item" name="date" type="text" readonly="readonly" value="@Model.CheckoutSigRA" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                </div>
                <div class="distribute-evenly">
                    <input type="submit" value="Finish" />
                </div>
            }
        </div>
        
    </div>
</div>
