@model Phoenix.Models.ViewModels.GenericCheckoutViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: RD Signature";
    ViewBag.MenuExists = "T";
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item"><a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")">Dashboard</a></li>
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}

<div class="view">
    <div class="pane">
        <div class="pane-content">
            <div class="error-message">
                <p>@ViewBag.ErrorMessage</p>
            </div>
            @using (Html.BeginForm(actionName: "RDSignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRD == null)
                    {
                        <p>I, @ViewBag.ExpectedSignature, hereby agree to the fines assessed by the RA.</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" placeholder="@ViewBag.ExpectedSignature" />
                        </div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the Resident Director</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@Model.CheckoutSigRDName" />
                            <input class="divAddOn-item" type="text" disabled value="@Model.CheckoutSigRD" />
                        </div>
                    }
                </div>
                <div class="distribute-evenly">
                    <input type="submit" value="Finish" />
                </div>
            }
        </div>

    </div>
</div>
