@model Phoenix.Models.ViewModels.GenericCheckoutViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: RD Signature";
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

<h2>@ViewBag.ViewTitle</h2>
<div class="view">
    <div class="pane">
        <div class="pane-content">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">
                        <p>@ViewBag.ErrorMessage</p>
                </div>
            }
            @using (Html.BeginForm(actionName: "RDSignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRD == null)
                    {
                        <p class="padded-paragraph-vertical">I, @ViewBag.ExpectedSignature, hereby agree to all of the fines and charges that have been recorded.</p>
                        <p class="padded-paragraph-vertical">I understand that by entering my username and password below, I give the system permission to send a fine email to the resident(s) if any fines/charges were assessed.</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="username" type="text" value="@ViewBag.ExpectedUsername" />
                        </div>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="password" type="password" placeholder="Please enter your password" />
                        </div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the Resident Director</p>
                        <div class="divAddOn">
                            <input class="divAddOn-item" type="text" disabled value="@Model.CheckoutSigRD" />
                        </div>
                    }
                </div>
                <div class="distribute-evenly">
                    <button type="submit">Finish</button>
                </div>
            }
        </div>

    </div>
</div>
