@model Phoenix.Models.ViewModels.CheckoutRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: RD Signature";
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

<div class="view">
    <div class="pane">
        <div class="pane-content">
            @using (Html.BeginForm(actionName: "RDSignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRD == null)
                    {
                        <div class="divAddOn">
                            <div class="divAddOn-item"><input type="checkbox" name="improperCheckout" value="true" /></div>
                            <div class="divAddOn-field">Improper Checkout</div>
                        </div>
                        <div class="divAddOn">
                            <div class="divAddOn-item"><input type="checkbox" name="lostKey" value="true" /></div>
                            <div class="divAddOn-field">Lost Keys</div>
                            <div class="divAddOn-item">$</div>
                            <input class="lost-key-fine divAddOn-item" name="lostKeyFine" type="number" placeholder="2.00" />
                        </div>

                        <p>I hereby agree to the fines assessed by the RA.</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" placeholder="@ViewBag.ExpectedSignature" />
                            <input class="divAddOn-item" name="date" type="text" readonly="readonly" value="@(DateTime.Today.Month)/@(DateTime.Today.Day)/@(DateTime.Today.Year)" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the Resident Director for @Model.FirstName @Model.LastName</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@Model.CheckoutSigRDName" />
                            <input class="divAddOn-item" name="date" type="text" readonly="readonly" value="@Model.CheckoutSigRD" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                </div>
                <div class="distribute-evenly">
                    <button type="submit">Finish</button>
                </div>
            }
        </div>

    </div>
</div>
