@model Phoenix.Models.ViewModels.CheckoutIndividualRoomRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: Resident Signature";
    ViewBag.MenuExists = "T";
}

@section Menu {
    <ul class="drawer-menu">
        <li class="drawer-menu-item"><a href="@Url.Action(actionName: "Index", controllerName: "Dashboard")">Dashboard</a></li>
        <li class="drawer-menu-item logout-button">Logout</li>
    </ul>
}

<div class="view">
    <div class="pane">
        <div class="pane-content">
            @using (Html.BeginForm(actionName: "ResidentSignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRes == null)
                    {
                        <p>I hereby agree to the preliminary fines that have been assessed by my RA. I understand that these fines are subject to change at the discretion of the Resident Director</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" placeholder="@Model.FirstName @Model.LastName" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                    else
                    {
                        <p>This RCI has been signed by the resident @Model.FirstName @Model.LastName</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@Model.FirstName @Model.LastName" />
                            <input class="divAddOn-item" type="text" disabled value="@Model.CheckoutSigRes" />
                        </div>
                        <div>@ViewBag.ErrorMessage</div>
                    }
                </div>
                <div class="distribute-evenly">
                    <input type="submit" value="OK" />
                </div>
            }
        </div>
    </div>
</div>