@model Phoenix.Models.ViewModels.CheckoutIndividualRoomRciViewModel

@{
    ViewBag.Title = "Checkout";
    ViewBag.ViewTitle = "Checkout: Resident Signature";
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
}

@{ 
    var sum = 0M;
    foreach(var component in Model.RciComponent)
    {
        foreach(var fine in component.Fine)
        {
            sum += fine.FineAmount;
        }
    }
}

<h2>@ViewBag.ViewTitle</h2>

<div class="view">
    <div class="pane">
        <div class="pane-content">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">
                   <p>@ViewBag.ErrorMessage</p>
                </div>
            }
            @using (Html.BeginForm(actionName: "ResidentSignature", controllerName: "RciCheckout", method: FormMethod.Post))
            {
                <div>
                    @if (Model.CheckoutSigRes == null)
                    {
                        <p class="padded-paragraph-vertical">I, @Model.FirstName @Model.LastName, hereby agree to the preliminary charges that have been assessed by my RA. I understand that these fines are subject to change at the discretion of the Resident Director</p>
                        <p class="padded-paragraph-vertical">Total Charges: $@sum</p>
                        <div class="divAddOn">
                            <input data-selenium-id="signature-field" class="divAddOn-field" name="signature" type="text" placeholder="@Model.FirstName @Model.LastName" />
                        </div>
                    }
                    else
                    {
                        <p class="padded-paragraph-vertical">This RCI has been signed by the resident @Model.FirstName @Model.LastName</p>
                        <div class="divAddOn">
                            <input class="divAddOn-field" name="signature" type="text" readonly="readonly" value="@Model.FirstName @Model.LastName" />
                            <input class="divAddOn-item" type="text" disabled value="@Model.CheckoutSigRes.Value.ToString("yyyy-MM-dd")" />
                        </div>
                    }
                </div>
                <div class="distribute-evenly">
                    <button data-selenium-id="checkout-signature-next-button" type="submit">Next</button>
                </div>
            }
        </div>
    </div>
</div>